* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
#container {
    height: 100%;
    width: 100%;
}
#canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    height: 100%;
}